* {
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    height: 60vh;
    width: 40vw;
    background-color: aquamarine;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.calculator__display {
    
    width: 75%;
    display: flex;
    margin-top: 5px;
    padding-top: 10px;
    gap: 1rem;
    background-color: lightgray;
    flex-direction: column;
    justify-content: flex-end;
}

.calculator__text {
    align-self: flex-end;
}

.calculator__operation {
    align-self: flex-end;
}

.calculator__buttons {
    width: 75%;
    height: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(5,1fr);
    
}

